	.title{
	    height: 55px;
	    width: 101.15%;
	    margin-top: -32px;
	    background: transparent;
	    margin-left: -8px;
	}
	.title-txt{
		font-family: 'Josefin Sans', sans-serif;
		color: #000;
    	text-align: center;
    	padding-top: 16px;
    	font-size: 24px;
	}
	.game{
	    width: 640px;
	    position: absolute;
	    left: 25%;
	    top: 12%;
	    height: 385px;
	}
	.ref-btn{
		display: block;
	    margin: auto;
	    background: #222;
	    border: #222;
	    height: 36px;
	    width: 160px;
	    color: #fff;
	    font-family: 'Josefin Sans', sans-serif;
	    border-radius: 14px;
	    font-size: 18px;
	    margin-top: 452px;
	}
	input:focus{
		outline:0 !important;		
	}